#container {
    margin: 20px;
    font-size: 20px;
}

/* Before pseudo-element */
#container::before {
    content: "Before Element ";
    color: #f00;
    font-size: 20px;
}

/* After pseudo-element */
#container::after {
    content: " After Element";
    color: #f00;
    font-size: 20px;
}
